:root {
	--text: #070f15;
	--background: #f2f7fb;
	--primary: #0062a3;
	--secondary: #f2d280;
	--accent: #ef5647;

	--t: 0.3s ease-in-out;
	--f: "Nunito", sans-serif;
	--large: 2.5rem;
	--medium: 2rem;
	--normalplus: 1.1rem;
	--normal: 1rem;
	--small: 0.3rem;
	--bold: 900;
	--semibold: 700;
	--light: 500;
}

* {
	font-family: var(--f);
	user-select: none;
}

.onlyPHONE {
	display: none !important;
}

body {
	color: var(--text);
	background: var(--background);
}

header {
	height: 5rem;
	background: var(--primary);
	color: var(--background);
	font-size: var(--large);
	font-weight: var(--bold);
	display: flex;
	align-items: center;
	padding: 0 var(--medium);
}

.logo {
	width: 5rem;
	margin-right: 1rem;
	aspect-ratio: 1 / 1;
}

footer {
	height: 3rem;
	background: var(--text);
	color: var(--background);
	font-size: var(--normal);
	font-weight: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--medium);
	flex-direction: column;
	text-align: center;
}

footer a {
	color: inherit !important;
	user-select: all;
}

a {
	text-decoration: underline;
	transition: var(--t);
}

a:hover {
	text-decoration-color: transparent;
}

a,
*[safe-href] {
	text-decoration: underline;
	transition: var(--t);
	cursor: pointer;
}

a:hover,
*[safe-href]:hover {
	text-decoration-color: transparent;
}

main {
	text-align: center;
	padding: var(--large);
	max-height: calc(100vh - 8rem);
	overflow: overlay;
	position: relative;
	box-sizing: border-box;
}

main.shrinkForNav {
	width: calc(100% - 16em);
	display: inline-block;
	box-sizing: border-box;
	margin-left: 16em;
}

nav {
	width: 16em;
	display: inline-flex;
	box-sizing: border-box;
	position: fixed;
	flex-direction: column;
	height: calc(100vh - 8rem);
	gap: var(--normal);
	padding: var(--normal);
	border-right: 0.3em solid var(--primary);
	z-index: 1;
	background: var(--background);
	max-height: 100%;
	overflow: overlay;
}

.navBtn {
	padding: var(--normal);
	border-radius: var(--large);
	color: var(--primary);
	text-decoration: none;
	font-weight: var(--semibold);
	background: var(--background);
	border: 2px solid var(--primary);
}

.navBtn:hover,
.navBtn.active {
	color: var(--background);
	background: var(--primary);
}

h1 {
	font-size: var(--medium);
	font-weight: var(--semibold);
	padding-bottom: var(--large);
}

.two-columns > * {
	flex-grow: 1;
	flex-shrink: 0;
}

form,
.two-columns > form {
	display: flex;
	flex-direction: column;
	gap: var(--medium);
	align-items: center;
	flex-grow: 0;
	max-width: 100%;
}

.input-label {
	position: relative;
}

.input-label label {
	position: absolute;
	left: var(--normalplus);
	top: 50%;
	width: auto;
	min-width: calc(100% - calc(var(--normalplus) * 2));
	text-align: left;
	background: var(--background);
	transition: var(--t);
	pointer-events: none;
	transform: translate(0%, -50%);
}

.input-label:has(textarea) label,
.input-label:has(input:active) label,
.input-label:has(input:focus) label,
.input-label:has(input[not-empty]) label {
	transform: scale(0.8) translate(0%, -50%);
	top: 0;
	min-width: 0;
	left: 0;
}

input,
button,
.button,
textarea {
	border: 2px var(--primary) solid;
	border-radius: 1rem;
	padding: var(--small) var(--normal);
	width: 20rem;
	box-sizing: border-box;
	transition: border var(--t);
	text-decoration: none;
}

.danger {
	--primary: var(--accent);
}

.notice {
	--primary: var(--secondary);
}

.input-label:has(*.error) {
	--primary: var(--accent);
	animation: shake 0.3s ease-out;
	animation-fill-mode: forwards;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(0.2em);
	}
	50% {
		transform: translateX(-0.2em);
	}
	75% {
		transform: translateX(0.2em);
	}
	100% {
		transform: translateX(0);
	}
}

textarea {
	padding: var(--small);
	resize: none;
	height: 10rem;
}

button,
.button {
	background: var(--primary);
	color: var(--background);
	font-size: var(--normal);
	cursor: pointer;
	transition: var(--t);
	width: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

button:hover,
.button:hover {
	background: var(--background);
	color: var(--primary);
}

button.active:hover,
.button.active:hover {
	background: var(--primary);
	color: var(--background);
}

button.non-active,
.button.non-active {
	background: var(--background);
	color: var(--primary);
}

button.non-active:hover,
.button.non-active:hover {
	background: var(--primary);
	color: var(--background);
}

.button-group {
	display: flex;
	justify-content: center;
	gap: var(--small);
	border-radius: 1em;
}

.button-group button,
.button-group .button {
	border-radius: 0;
}

.button-group button:first-child,
.button-group .button:first-child {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.button-group button:last-child,
.button-group .button:last-child {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.two-columns {
	display: flex;
	align-items: center;
	gap: var(--large);
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.preview {
	aspect-ratio: 16 / 9 !important;
	box-sizing: border-box;
	flex-grow: 1;
	max-height: calc(calc(100vh - 8rem) * 0.5);
	max-width: calc(calc(100vh - 8rem) * 0.5 * 16 / 9);
	overflow: hidden;
}

.notification {
	display: inline-flex;
	background: var(--accent);
	height: 1.2rem;
	min-width: 1.2rem;
	justify-content: center;
	border-radius: 1rem;
	color: var(--background);
	line-height: 0;
	align-items: center;
	font-weight: var(--light);
	margin-left: 1rem;
}

*:has(.object-fit-fill):not(:has(* .object-fit-fill)) {
	overflow: hidden;
	position: relative;
}

.object-fit-fill {
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
	overflow: hidden;
}

.panel {
	background: linear-gradient(45deg, #0b264b, var(--primary));
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.panel-text {
	color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	font-weight: var(--bold);
	text-align: center;
	padding: var(--large);
	box-sizing: border-box;
	overflow-wrap: anywhere;
}

.panel-image img {
	object-fit: contain;
	overflow: hidden;
	pointer-events: none;
}

.panel-image img:not(.backdrop) {
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.panel-image img.backdrop {
	object-fit: cover;
	width: calc(100% + 4rem);
	height: calc(100% + 4rem);
	filter: blur(2em) brightness(0.7);
	position: absolute;
	top: -2rem;
	left: -2rem;
	z-index: 0;
}

.panel.transparent {
	opacity: 0;
}

.panel-hidden {
	position: absolute;
}

.panel-hidden.normal:not(.animate-in) {
	animation: panel-out ease-in-out 1s forwards;
}

.panel-hidden.reverse:not(.animate-in) {
	animation: panel-out-reverse ease-in-out 1s forwards;
}

.panel-hidden.normal.animate-in {
	animation: panel-in ease-in-out 1s forwards;
}

.panel-hidden.reverse.animate-in {
	animation: panel-in-reverse ease-in-out 1s forwards;
}

.panel.panel-fade-out {
	animation: panel-fade-out ease-in-out 0s;
}

@keyframes panel-in {
	from {
		left: 100vw;
	}
	to {
		left: 0;
	}
}

@keyframes panel-in-reverse {
	from {
		right: 100vw;
	}
	to {
		right: 0;
	}
}

@keyframes panel-out {
	from {
		right: 0;
	}
	to {
		right: 100vw;
	}
}

@keyframes panel-out-reverse {
	from {
		left: 0;
	}
	to {
		left: 100vw;
	}
}

@keyframes panel-fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.panel-review {
	border-radius: 1rem;
	padding: var(--medium);
	margin: var(--large) 0;
	text-align: left;
	border: solid 0.3em var(--primary);
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: var(--medium);
	flex-wrap: wrap;
	justify-content: center;
}

.panel-review-preview {
	width: 32rem;
	height: 18rem;
	position: relative;
	overflow: hidden;
}

.panel-review-buttons {
	position: absolute;
	top: 0;
	right: var(--medium);
	transform: translateY(-50%);
	background: var(--background);
	display: flex;
	gap: var(--small);
}

.user-chip {
	padding: var(--small) var(--normal);
	border-radius: 1rem;
	cursor: help;
}

.two-columns-grid {
	display: inline-grid;
	grid-template-columns: auto auto;
	margin: var(--normal) 0;
	gap: var(--normal);
	align-items: center;
	width: 100%;
	overflow-wrap: anywhere;
}

.note {
	background: var(--secondary);
	display: inline-block;
	padding: var(--normal);
	border-radius: var(--normal);
}

.panel-container {
	width: 100vw;
	height: calc(100vh - 14rem);
	overflow: hidden;
	position: relative;
}

.panel-info {
	height: 14rem;
	display: flex;
	align-items: center;
	padding: var(--normal) var(--medium);
	box-sizing: border-box;
	gap: var(--medium);
	overflow: hidden;
	position: relative;
}

.panel-time-container {
	text-align: center;
	font-size: 1.4rem;
}

.panel-logo {
	width: 8rem;
	aspect-ratio: 1 / 1;
}

.panel-time {
	color: var(--primary);
	font-size: 4rem;
	font-weight: var(--bold);
}

.panel-food {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow-x: auto;
	gap: 0.1rem;
	position: relative;
	padding: 0.2rem 0;
	box-sizing: border-box;
	min-width: 0;
}

.panel-food-row {
	flex-grow: 1;
	font-weight: var(--semibold);
	display: grid;
	grid-template-columns: 6.5rem auto;
}

.panel-food-row:nth-child(2),
.panel-food-row:nth-child(5) {
	margin-top: 0.4rem;
}

.panel-food-row span {
	font-weight: var(--light);
}

.panel-departures {
	overflow-x: hidden;
	display: flex;
	gap: 2rem;
	min-width: 0;
	flex-wrap: wrap;
}

.panel-departures-title {
	font-weight: var(--semibold);
	margin-bottom: var(--small);
	text-decoration: underline;
}

.panel-departures-table img {
	width: 1em;
	vertical-align: top;
	border-radius: 0.3rem;
	height: 1em;
	object-fit: contain;
	margin: 0 0.3rem;
}

.panel-departure-row td:nth-child(1) {
	font-weight: var(--semibold);
}
.panel-departure-row td:nth-child(1) span {
	font-size: 0.9rem;
	vertical-align: middle;
	padding-left: 0.2rem;
}

.panel-departure-row td:nth-child(2) {
	padding: 0 1rem;
}

.panel-departure-row td:nth-child(3) {
}

.panel-food-departures-container {
	margin-right: auto;
	height: 100%;
	position: relative;
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 1;
}

.panel-food,
.panel-departures {
	font-size: 1.6rem;
	transition: var(--t);
	max-height: 100%;
	--scroll-width: 0 !important;
	position: absolute;
	animation-timing-function: cubic-bezier(0.8, 0.01, 0.36, 0.99);
}

.hidden:is(.panel-food:not(.departuresDisabled), .panel-departures),
.panel-departures.departuresDisabled {
	opacity: 0;
	padding: 0; /* filter: blur(3px); */
	pointer-events: none;
}

.panel-phone-info {
	font-size: 1.2rem;
}

.panel-qr {
	box-sizing: border-box;
	padding-top: 2rem;
	height: 100%;
	aspect-ratio: 1 / 1;
	max-width: 0;
	transition: var(--t);
	position: relative;
	text-align: center;
	overflow: hidden;
	flex-shrink: 0;
	margin-left: -2rem;
}

.panel-qr b {
	position: absolute;
	top: 0rem;
	left: 50%;
	color: var(--background);
	background: var(--primary);
	transform: translateX(-50%);
	width: max-content;
	font-size: var(--normalplus);
	padding: var(--small);
	border-radius: var(--small);
}

.panel-qr img {
	height: 100%;
	display: inline-block !important;
}

.panel-qr canvas {
	display: none !important;
}

.panel-qr.visible {
	max-width: 20vw;
	margin-left: 0;
}

.panel-counter {
	position: absolute;
	z-index: 2;
	color: var(--background);
	font-weight: var(--bold);
	font-size: var(--normalplus);
	right: 2rem;
	margin-top: 2rem;
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.radial-graph {
	transition: var(--t);
	position: absolute;
	right: 2rem;
	margin-top: 2rem;
	z-index: 1;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: conic-gradient(var(--background) var(--value), transparent var(--value));
	mask: radial-gradient(farthest-side, transparent calc(100% - var(--small)), #fff calc(100% - var(--small) + 1px));
	-webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--small)), #fff calc(100% - var(--small) + 1px));
	--value: 100%;
}

.tooltip {
	position: absolute;
	background: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 1;
	pointer-events: none;
	padding: var(--normal);
	border-radius: var(--normal);
	color: inherit;
	transition: transform var(--t);
}

.tooltip.horizontal {
	display: flex;
	gap: var(--small);
	padding: 2px 0;
	flex-direction: row;
	width: max-content;
	top: calc(50% - 1px);
	left: calc(100% + 2px);
}

*:has(.tooltip):not(:has(* *.tooltip)) {
	position: relative;
}

*:has(.tooltip):hover > .tooltip {
	transform: translate(-50%, -50%) scale(1);
	pointer-events: all;
	cursor: help;
}

*:has(.tooltip.horizontal):hover > .tooltip.horizontal {
	transform: translate(-100%, -50%) scale(1);
	pointer-events: all;
	cursor: help;
}

* {
	--scroll-temp: #00000030;
	--scroll-temp2: #0000000d;
	--scroll-width: var(--small);
}

*:hover {
	--scroll-temp: #0000006b;
	--scroll-temp2: #0000001a;
	--scroll-width: var(--small);
}

*::-webkit-scrollbar {
	width: var(--scroll-width);
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background: var(--scroll-temp);
	border-radius: 4px;
}

*::-webkit-scrollbar-track {
	background: var(--scroll-temp2);
}
