@media only screen and (max-width: 760px) {
	.onlyPC {
		display: none !important;
	}

	.onlyPHONE {
		display: initial;
	}

	.panel-info {
		width: 100vw;
		height: 100vh;
		position: absolute;
		z-index: 1;
		background: var(--background);
		flex-direction: column;
		opacity: 0;
		transition: var(--t);
		overflow: auto;
		pointer-events: none;
	}
	.panel-info.visible {
		opacity: 1;
		pointer-events: all;
	}
	.panel-food {
		gap: var(--normal);
		justify-content: flex-start;
	}
	.panel-food-row {
		display: flex;
		gap: var(--small);
		flex-direction: column;
	}
	.panel-container {
		height: 100vh;
	}
	.panel {
		font-size: var(--medium);
	}
	
	.panel-cta {
		opacity: 0;
		transition: var(--t);
		position: absolute;
		top: 90vh;
		left: 50%;
		transform: translate(-50%, -50%);
		background: var(--secondary);
		padding: var(--normal);
		border-radius: var(--small);
		font-size: var(--normalplus);
		box-sizing: border-box;
		pointer-events: none;
	}

	.panel-cta.visible {
		opacity: 1;
		pointer-events: all;
	}
}
