.mainWrapper {
	width: 100vw;
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */
	height: calc(100vh - 8rem);
}

.toRight,
.toLeft,
.fromRight,
.fromLeft,
.toOut,
.fromOut,
.toIn,
.fromIn,
.toFade,
.fromFade {
	position: relative;
	animation-fill-mode: forwards !important;
	animation-duration: 0.3s !important;
}

.toRight {
	animation: toRight;
}

.toLeft {
	animation: toLeft;
}

.fromLeft {
	animation: fromLeft;
}

.fromRight {
	animation: fromRight;
}

.toOut {
	animation: toOut;
}

.fromOut {
	animation: fromOut;
}

.toIn {
	animation: toIn;
}

.fromIn {
	animation: fromIn;
}

.toFade {
	animation: toFade;
}

.fromFade {
	animation: fromFade;
}

@keyframes toRight {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(5vw);
		opacity: 0;
	}
}

@keyframes toLeft {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(5vw);
		opacity: 0;
	}
}

@keyframes fromLeft {
	0% {
		transform: translateX(-5vw);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fromRight {
	0% {
		transform: translateX(5vw);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes toOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes fromOut {
	0% {
		transform: scale(1.2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes toIn {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

@keyframes fromIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes toFade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fromFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 760px) {
	@keyframes toRight {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(100vw);
		}
	}

	@keyframes toLeft {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100vw);
		}
	}

	@keyframes fromLeft {
		0% {
			transform: translateX(-100vw);
		}
		100% {
			transform: translateX(0);
		}
	}

	@keyframes fromRight {
		0% {
			transform: translateX(100vw);
		}
		100% {
			transform: translateX(0);
		}
	}
}
